form(name="add-team-member", method="post", action="/team_members")
        div.input
            span.label First Name
            input(type="text", name="first_name")
            
        div.input
            span.label Last Name
            input(type="text", name="last_name")
            
        div.actions
            input(type="submit", value="add")
            
br